{% extends 'base.html' %}

{% block content %}
<div class="container-fluid pt-5 mt-3">
    <br/>
    <div class="title card">
        <div class="offset-3"><h2>Order view</h2></div>
    </div>
    <br/>
        <div class="container order-view-container">
            <div class="form-group">
                <form section="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form}}
                    </div>
                    <input type="submit">
                </form>
            </div>
        </div>
</div>

{% endblock %}