

.background {
    background-color: #fd7e14;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0px !important;
    height: 100vh !important;
}

.order_item {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 20px !important;
}

.border {
    border-width: 10px
}

.list-group-guy {
    padding-left: 20px !important;
    padding-right: 20px !important;
}