
* {
    font-family: Verdana, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
}


.title {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FFF8DC;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 0px 3px 3px
}

.background {
    background-color: #fd7e14;
    min-height: 100%;
}

.container-fluid {
    padding: 0px ;
    height: 100% !important;
}

.list-group-item {
    margin-left: 7px;
    margin-bottom: 6px;
    padding-left: 5px;
    border-top-left-radius: 10px !important;
   /* border-top-right-radius: 10px; */
    border-bottom-left-radius: 10px !important;
    /*border-bottom-right-radius: 10px; */
    padding-left: 20px;
    background-color: #FFF8DC;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: -4px 3px 3px
}


.border {
    border-width: 10px
}

.list-group-guy {

    padding-left: 20px;
    padding-right: 20px;
}


.order-view-container {

    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 20px;
}

.edit-button {
    background-color: #fd7e14;
    margin-left: 10px;
    border-radius: 30px;
    color: white;
    border: 2px solid black;
    text-decoration: none;
    text-align: center;
}

.short-nav: {
    display: none;
}

.full-nav {}

@media (max-width: 320px) {
    .short-nav { display: inline-block; }
    .full-nav { display: none; }
}

@media (min-width: 321px) {
    .short-nav { display: none; }
    .full-nav { display: inline-block; }
}
